* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3dcad;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#logo {
}

#logo path:nth-last-child(1) {
  stroke-dasharray: 439.03px;
  stroke-dashoffset: 439.03px;
  animation: line-anim 4s ease forwards, fill-text 2s ease forwards 3.5s;
}

#logo path:nth-last-child(2) {
  stroke-dasharray: 299.264px;
  stroke-dashoffset: 299.264px;
  animation: line-anim 4s ease forwards 0.2s, fill-text 2s ease forwards 3.5s;
}

#logo path:nth-last-child(3) {
  stroke-dasharray: 430.127px;
  stroke-dashoffset: 430.127px;
  animation: line-anim 4s ease forwards 0.4s, fill-text 2s ease forwards 3.5s;
}

#logo path:nth-last-child(4) {
  stroke-dasharray: 537.318px;
  stroke-dashoffset: 537.318px;
  animation: line-anim 4s ease forwards 0.6s, fill-text 2s ease forwards 3.5s;
}

#logo path:nth-last-child(5) {
  stroke-dasharray: 435.815px;
  stroke-dashoffset: 435.815px;
  animation: line-anim 4s ease forwards 0.8s, fill-text 2s ease forwards 3.5s;
}

#logo path:nth-last-child(6) {
  stroke-dasharray: 671.04px;
  stroke-dashoffset: 671.04px;
  animation: line-anim 4s ease forwards 1s, fill-text 2s ease forwards 3.5s;
}

#logo path:nth-last-child(7) {
  stroke-dasharray: 565.07px;
  stroke-dashoffset: 565.07px;
  animation: line-anim 4s ease forwards 1.2s, fill-text 2s ease forwards 3.5s;
}

#logo path:nth-last-child(8) {
  stroke-dasharray: 201.72px;
  stroke-dashoffset: 201.72px;
  animation: line-anim 4s ease forwards 1.4s, fill-text 2s ease forwards 3.5s;
}

#logo path:nth-last-child(9) {
  stroke-dasharray: 264.19px;
  stroke-dashoffset: 264.19px;
  animation: line-anim 4s ease forwards 1.4s, fill-text 2s ease forwards 3.5s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

/* @keyframes fill-text {
  from {
    fill: transparent;
  }
  to {
    fill: #ffffff;
  }
} */
